* {
  color: #5d5d7d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-seri;
}

.container-left {
  width: 60vw;
  display: inline-block;
  margin-top: 360px;
  padding-left: 80px;
}

.container-left h1 {
  font-size: 70px;
  font-weight: 400;
  line-height: 80px;
  width: 368px;
}

.container-left p {
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  width: 540px;
  opacity: 0.6;
  margin: 10px 0;
}

.container-left .button-left {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  background-color: #9499ea;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  width: 269px;
  height: 62px;
}

.container-left .button-left:hover {
  opacity: 0.7;
}

.container-left .button-left:active {
  opacity: 0.5;
}

.container-right {
  display: inline-block;
  background-color: rgba(93, 93, 125, 0.4);
  width: 40vw;
  height: 100vh;
  position: absolute;
}

.container-right header {
  margin: 25px 0 0 50px;
}

.container-right .link-header {
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
}

.container-right .link-header:nth-child(2) {
  opacity: 0.7;
}

.container-right .logo-img {
  position: relative;
  top: 10%;
  right: 145px;
  max-width: 90%;
}

@media screen and (max-width: 1140px) {
  .container-left {
    height: 45vh;
    width: 100vw;
    display: block;
    margin: 70px 0 0 0;
    padding: 0;
    text-align: center;
  }

  .container-left h1 {
    width: auto;
    font-size: 36px;
    line-height: 52px;
  }

  .container-left p {
    width: auto;
    font-size: 14px;
    line-height: 24px;
  }

  .container-right {
    display: block;
    height: 50vh;
    width: 100vw;
    position: static;
  }

  .container-right header {
    display: none;
  }

  .container-right .logo-img {
    position: static;
    margin: 0 auto;
    display: block;
    height: 100%;
    padding: 30px 0;
  }
}
